.linkContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #00abab;

  .href {
    margin: 10px;
    padding: 5px;
    color: #e91e63;
    border: 1px solid #0c5ea3;
    border-radius: 10px;
  }
}

.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  min-height: 0;
  height: auto;
  background-color: white;
  z-index: 20;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  span {
    position: absolute;
    top: 0;
    right: 10px;
    color: #f53d3d;
  }
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    box-shadow: 0 0 50px 30px white;
  }
}

@media (max-width: 550px) {
  .head {
    #payment {
      display: none;
    }
  }
}

@media print {
  .head {
    display: none;
  }
}
